/*  your css code here. If applicable */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f6f6;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #333;
    background-color: white;
}

.red, .green, .yellow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}
